{% extends "layout.html" %} {% block content %}
<div class="d-flex flex-direction-column dashboard">
  <ul class="nav navbar-nav side-nav">
    <li>
      <a href="{{ url_for('dashboard') }}" id="dashboard"
        ><i class="fa fa-fw fa-user-plus"></i>Dashboard</a
      >
    </li>
    <li>
      <a href="{{ url_for('postadd') }}" id="post"
      ><i class="fa fa-fw fa-paper-plane-o"></i>Post Add
      </a>
    </li>
    <li>
      <a href="faq" id="update"
        ><i class="fa fa-fw fa fa-question-circle"></i>Update Profile</a
      >
    </li>
  </ul>
  <div class="dashboard w-50 mx-auto my-4 d-flex flex-column text-center" >
    <h1>Dashboard</h1>
    <div class="dashcard d-flex justify-content-between my-4">
        <div class="impression p-4 bg-info d-flex flex-column justify-content-between">
            <img src="{{ url_for('static',filename='images/impressions.png') }}" />

            <a class="m-0 text-white" href="{{ url_for('impression') }}">Impressions(12)</a>
        </div>
        <div class="impression p-4 bg-success d-flex flex-column justify-content-between">
          <img src="{{ url_for('static',filename='images/myads.png') }}" />
            <a class="m-0 text-white" href="{{ url_for('updateProperty') }}">My Properties</a>
        </div>
    </div>
  </div>
  
  <script>
      // document.getElementById('postform').addEventListener('submit',function(event){
      //   event.preventDefault()
      //   console.log(event.target.files)
      // })

    

    // $('#dashboard').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sidedash'
    // })
    // $('#post').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sidepost'
    // })
    // $('#update').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sideupdate'
    // })
  </script>
  
</div>

{% endblock %}
