{% extends "layout.html" %} {% block content %}
<div class="d-flex flex-direction-column dashboard">
  <ul class="nav navbar-nav side-nav">
    <li>
      <a href="investigaciones/favoritas" id="dashboard"
        ><i class="fa fa-fw fa-user-plus"></i>Dashboard</a
      >
    </li>
    <li>
      <a href="sugerencias" id="post"
        ><i class="fa fa-fw fa-paper-plane-o"></i>Post Add</a
      >
    </li>
    <li>
      <a href="faq" id="update"
        ><i class="fa fa-fw fa fa-question-circle"></i>Update Profile</a
      >
    </li>
  </ul>
  <form action="{{ url_for('dashboard') }}" enctype="multipart/form-data" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description"/><br>
    {{ dropzone.create() }}
    <input type="submit" id="submit" value="Submit and Upload">
</form>
{{ dropzone.load_js() }}
{{ dropzone.config(custom_options='autoProcessQueue: false, addRemoveLinks: true,progress:false') }}
  <script>
    $('.dz-progress').hide();
    // $('#dashboard').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sidedash'
    // })
    // $('#post').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sidepost'
    // })
    // $('#update').click(() => {
    //     event.preventDefault()
    //     $('iframe')[0].src = 'http://127.0.0.1:5000/sideupdate'
    // })
  </script>
  
</div>

{% endblock %}
