{% extends "layout.html" %} {% block content %}
<form class="d-flex col-md-8 m-2 align my-4 mx-auto">
    <input type="text" placeholder="enter your city" class="bg-light border rounded"/>
    <select class="form-control bg-light" id="exampleFormControlSelect1"  >
      <option>Property-type</option>
      <option>1-Room Set</option>
      <option>2-Room Set</option>
      <option>3-Room Set</option>
      <option>4-Room Set</option>
    </select>
    <select class="form-control bg-light" id="exampleFormControlSelect1">
      <option>Budget</option>
      <option>2500-5000</option>
      <option>5000-7000</option>
      <option>7000-10000</option>
      <option>Above 10000</option>
    </select>
    <button class="border btn btn-primary">Search</button>
  </form>
<div class="searchList d-flex w-100 ">
    <div class="filter col-md-2 bg-light rounded-lg position-fixed m-2">
        <h5>Apartment Type</h5>
        <div class="apartment-type d-flex flex-wrap">
            <small class="p-1 bg-info m-1 rounded-lg text-white">1 BHK</small>
            <small class="p-1 bg-info m-1 rounded-lg text-white">2 BHK</small>
            <small class="p-1 bg-info m-1 rounded-lg text-white">3 BHK</small>
            <small class="p-1 bg-info m-1 rounded-lg text-white">4 BHK</small>
        </div>
        <h5>Price Type</h5>
        <div class="price-type d-flex flex-wrap">
            <small class="p-1 bg-warning m-1 rounded-lg text-white">Lowest-Highest</small>
            <small class="p-1 bg-warning m-1 rounded-lg text-white">Highest-Lowest</small>
        </div>
        <h5>Tenant</h5>
        <div class="tenant-type d-flex flex-wrap">
            <small class="p-1 bg-success m-1 rounded-lg text-white">Family</small>
            <small class="p-1 bg-success m-1 rounded-lg text-white">Bachelors</small>
        </div>
        <small class="p-1 bg-primary m-1 rounded-lg text-white">Submit</small>
    </div>
    <div class="items col-md-9 d-flex flex-column m-2">
        {% for item in data %}
        <div class="item d-flex justify-content-center my-2">
            <div class="item-image d-flex align-items-center">
                {% for image in propertyImages.query.filter_by(property_id=item.id).all() %}
                <img 
                    src="{{ url_for('static',filename='property_images/' + image.filename) }}"
                    class="fadeOut"
                />
                {% endfor %}
                <div class="d-flex justify-content-between text-white slider align-items-center">
                    <h1 class="p-2 m-0 bg-dark" onclick=prev()><</h1>
                    <h1 class="p-2 m-0 bg-dark" onclick=next()>></h1>
                </div>
            </div>
            <div class="item-details m-4 col-md-6">
                <div class="item-heading">
                    <h5>{{ item.type }} apartment in {{ item.city }}</h5>
                </div>
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
                <div class="item-location d-flex">
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.type}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.state}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.city}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.tenant}}</small>
                </div>  
                <div class="item-price">
                    <h4>&#x20B9 {{item.price}}</h4>
                </div>
                <button class="btn-sm btn-danger">Get Owner Details</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function slideShow() {
        var i;
        var slides = document.getElementsByClassName("item-image"); 
        console.log(typeof slides)
        for (i = 0; i < slides.length; i++) { 
            console.log(slides[i].children[0].className="visible")
        } 
    }
    slideShow()
    function prev(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                if(i == 0){
                    images[i].className='fadeOut'
                    i = images.length-2
                    images[i].className = 'visible'
                } else{
                    images[i].className='fadeOut'
                    images[i-1].className='visible'
                }
            }
        } 
    }
    function next(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                console.log(images.length-2)
                if(i == images.length-2){
                    console.log(i,'working')
                    images[i].className='fadeOut'
                    i = 0;
                    images[i].className = 'visible'
                } else{
                    images[i].className='fadeOut'
                    i = i+1
                    images[i].className='visible'
                }
            }
        } 
    }
</script>
{% endblock %}
