{% extends "layout.html" %} {% block content %}
<form class="d-flex col-md-8 m-2 align my-4 mx-auto" action="{{ url_for('search') }}" method="POST">
    <input type="text" placeholder="enter your city" class="bg-light border rounded" name="city" required />
    <select class="form-control bg-light" name="type"  >
        <option value="">Property Type</option>
        <option value="1 BHK">1 BHK</option>
        <option value="2 BHK">2 BHK</option>
        <option value="3 BHK">3 BHK</option>
        <option value="4 BHK">4 BHK</option>
    </select>
    <select class="form-control bg-light" name="state" required>
      <option value="">State</option>
      <option value="Andhra Pradesh">Andhra Pradesh</option>
      <option value="Arunanchal Pradesh">Arunanchal Pradesh</option>
      <option value="Assam">Assam</option>
      <option value="Bihar">Bihar</option>
      <option value="Chhattisgarh">Chhattisgarh</option>
      <option value="Goa">Goa</option>
      <option value="Gujarat">Gujarat</option>
      <option value="Haryana">Haryana</option>
      <option value="Himachal Pradesh">Himachal Pradesh</option>
      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
      <option value="Jharkhand">Jharkhand</option>
      <option value="Karnataka">Karnataka</option>
      <option value="Kerala">Kerala</option>
      <option value="Madhya Pradesh">Madhya Pradesh</option>
      <option value="Maharashtra">Maharashtra</option>
      <option value="Manipur">Manipur</option>
      <option value="Meghalaya">Meghalaya</option>
      <option value="Mizoram">Mizoram</option>
      <option value="Nagaland">Nagaland</option>
      <option value="Odisha">Odisha</option>
      <option value="Punjab">Punjab</option>
      <option value="Rajasthan">Rajasthan</option>
      <option value="Sikkim">Sikkim</option>
      <option value="Tamil Nadu">Tamil Nadu</option>
      <option value="Telangana">Telangana</option>
      <option value="Tripura">Tripura</option>
      <option value="Uttar Pradesh">Uttar Pradesh</option>
      <option value="Uttarakhand">Uttarakhand</option>
      <option value="West Bengal">West Bengal</option>
    </select>
    <button class="border btn btn-primary" type="submit">Search</button>
  </form>
<div class="searchList d-flex w-100 ">
    <div class="items col-md-9 d-flex flex-column m-2">
        {% for item in data %}
        <div class="item d-flex justify-content-center my-2">
            <div class="item-image d-flex align-items-center">
                {% for image in propertyImages.query.filter_by(property_id=item.id).all() %}
                <img 
                    src="{{ url_for('static',filename='property_images/' + image.filename) }}"
                    class="fadeOut"
                />
                {% endfor %}
                <div class="d-flex justify-content-between text-white slider align-items-center">
                    <h1 class="p-2 m-0 bg-dark" onclick=prev()><</h1>
                    <h1 class="p-2 m-0 bg-dark" onclick=next()>></h1>
                </div>
            </div>
            <div class="item-details m-4 col-md-6">
                <div class="item-heading">
                    <h5 class="m-0">{{ item.type }} apartment in {{ item.city }}</h5>
                    <small class="text-primary">Posted on {{ item.date_of_creation.strftime("%d") }} {{ item.date_of_creation.strftime("%b") }}  {{ item.date_of_creation.strftime("%Y") }} </small>
                </div>
                <div class="description">
                    <p>{{item.description}}</p>
                </div>
                <div class="item-location d-flex">
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.type}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.state}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.city}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.tenant}}</small>
                    <small class="p-1  m-1 rounded-lg text-white tag">{{item.id}}</small>
                </div>  
                <div class="item-price">
                    <h4>&#x20B9 {{item.price}}</h4>
                </div>
                {% if id.is_authenticated %}
                    {%  if Impression.query.filter_by(property_id=item.id,user_id=id.id).first().status == 'Pending' %}
                    <button type="button" class="btn-sm btn-danger text-white" data-toggle="modal" data-target="#exampleModal">
                        Waiting For Response
                    </button>   
                    {% elif Impression.query.filter_by(property_id=item.id,user_id=id.id).first().status == 'Accepted' %}
                    <p>{{ User.query.filter_by(id=item.user_id).first().email }}</p>
                    <p>{{ User.query.filter_by(id=item.user_id).first().phone_number }}</p>
                    {%  elif Impression.query.filter_by(property_id=item.id,user_id=id.id).first() == None %}
                    <a class="btn-sm btn-danger text-white" href="{{ url_for('sendImpression',propertyId=item.id,city=item.city,state=item.state) }}">
                        Get Owner Details
                    </a>
                    {% endif %}
                {% else %}
                    <a class="btn-sm btn-danger text-white" href="{{ url_for('login') }}">
                        Get Owner Details
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
   
    function slideShow() {
        var i;
        var slides = document.getElementsByClassName("item-image"); 
        console.log(typeof slides)
        for (i = 0; i < slides.length; i++) { 
            console.log(slides[i].children[0].className="visible")
        } 
    }
    slideShow()
    function prev(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                if(i == 0){
                    images[i].className='fadeOut'
                    i = images.length-2
                    images[i].className = 'visible'
                } else{
                    images[i].className='fadeOut'
                    images[i-1].className='visible'
                }
            }
        } 
    }
    
    function next(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                console.log(images.length-2)
                if(i == images.length-2){
                    console.log(i,'working')
                    images[i].className='fadeOut'
                    i = 0;
                    images[i].className = 'visible'
                } else{
                    images[i].className='fadeOut'
                    i = i+1
                    images[i].className='visible'
                }
            }
        } 
    }
    // function confirm(){
    //     <div>
    //     </div>
    // }
</script>
{% endblock %}
