{% extends "layout.html" %} {% block content %}

<div class="d-flex flex-direction-column dashboard">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="{{ url_for('dashboard') }}" id="dashboard"
          ><i class="fa fa-fw fa-user-plus"></i>Dashboard</a
        >
      </li>
      <li>
        <a href="{{ url_for('postadd') }}" id="post"
        ><i class="fa fa-fw fa-paper-plane-o"></i>Post Add
        </a>
      </li>
      <li>
        <a href="faq" id="update"
          ><i class="fa fa-fw fa fa-question-circle"></i>Update Profile</a
        >
      </li>
    </ul>
    <div class="update-profile w-100">
        <h3 class="text-center my-2">Update Property</h3>
            <div class="items col-md-12 d-flex flex-column m-2">
                {% for item in data %}
                <div class="item d-flex justify-content-center my-2">
                    <div class="item-image d-flex justify-content-center align-items-center">
                        {% for image in propertyImages.query.filter_by(property_id=item.id).all() %}
                        <img 
                            src="{{ url_for('static',filename='property_images/' + image.filename) }}"
                            class="fadeOut w-50"
                        />
                        {% endfor %}
                        <div class="d-flex justify-content-between text-white slider align-items-center position-absolute w-25">
                            <h1 class="p-2 m-0 bg-dark" onclick=prev()><</h1>
                            <h1 class="p-2 m-0 bg-dark" onclick=next()>></h1>
                        </div>
                    </div>
                    <div class="item-details m-4 col-md-6">
                        <div class="item-heading">
                            <h5 class="m-0">{{ item.type }} apartment in {{ item.city }}</h5>
                            <small class="text-primary">Posted on {{ item.date_of_creation.strftime("%d") }} {{ item.date_of_creation.strftime("%b") }}  {{ item.date_of_creation.strftime("%Y") }} </small>
                        </div>
                        <div class="description">
                            <p>{{item.description}}</p>
                        </div>
                        <div class="item-location d-flex">
                            <small class="p-1  m-1 rounded-lg text-white tag">{{item.type}}</small>
                            <small class="p-1  m-1 rounded-lg text-white tag">{{item.state}}</small>
                            <small class="p-1  m-1 rounded-lg text-white tag">{{item.city}}</small>
                            <small class="p-1  m-1 rounded-lg text-white tag">{{item.tenant}}</small>
                            <small class="p-1  m-1 rounded-lg text-white tag">{{item.id}}</small>
                        </div>  
                        <div class="item-price">
                            <h4>&#x20B9 {{item.price}}</h4>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to send to the request the owner.
                                </div>
                                <div class="modal-footer">
                                <a type="button" class="btn-sm py-1 px-2 text-white btn-secondary" data-dismiss="modal">Cancel</a>
                                {% set id = item.id | string() %}
                                <a type="button" class="btn-sm py-1 px-2 text-white btn-primary"  onclick="redirectrequest('{{id}}','{{item.city}}','{{item.state}}')">Send Request</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <button type="button" class="btn-sm btn-danger text-white" data-toggle="modal" data-target="#exampleModal">
                           Update Property
                          </button>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>
<script>
    function slideShow() {
        var i;
        var slides = document.getElementsByClassName("item-image"); 
        console.log(typeof slides)
        for (i = 0; i < slides.length; i++) { 
            console.log(slides[i].children[0].className="visible w-50")
        } 
    }
    slideShow()
    function prev(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                if(i == 0){
                    images[i].className='fadeOut'
                    i = images.length-2
                    images[i].className = 'w-50 visible'
                } else{
                    images[i].className='fadeOut'
                    images[i-1].className='w-50 visible'
                }
            }
        } 
    }
    
    function next(){
        let images = event.target.parentElement.parentElement.children;
        for (i = 0; i < images.length-1; i++) { 
            if(images[i].className.indexOf('visible') !== -1 ){
                console.log(images.length-2)
                if(i == images.length-2){
                    console.log(i,'working')
                    images[i].className='fadeOut'
                    i = 0;
                    images[i].className = 'w-50 visible'
                } else{
                    images[i].className='fadeOut'
                    i = i+1
                    images[i].className='w-50 visible'
                }
            }
        } 
    }
</script>
{% endblock %}
