{% extends "layout.html" %} {% block content %}

<div class="d-flex flex-direction-column dashboard">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a href="{{ url_for('dashboard') }}" id="dashboard"
          ><i class="fa fa-fw fa-user-plus"></i>Dashboard</a
        >
      </li>
      <li>
        <a href="{{ url_for('postadd') }}" id="post"
        ><i class="fa fa-fw fa-paper-plane-o"></i>Post Add
        </a>
      </li>
      <li>
        <a href="faq" id="update"
          ><i class="fa fa-fw fa fa-question-circle"></i>Update Profile</a
        >
      </li>
    </ul>
    <div class="update-profile w-100">
        <h3 class="text-center my-2">Update Property</h3>
            <div class="items col-md-12 d-flex flex-column m-2">
                {% for item in data %}
                <div class="item d-flex justify-content-center my-2 separate">
                    <div class="item-image d-flex flex-column justify-content-center align-items-center container">
                        <div class="row">
                            {% for image in propertyImages.query.filter_by(property_id=item.id).all() %}
                            <div class="thumbnails position-relative">  
                                <img 
                                    src="{{ url_for('static',filename='property_images/' + image.filename) }}"
                                    class="w-2 col-sm" style="width:150px"
                                />
                                <a class="position-absolute text-white close px-1 py-1" href="{{ url_for('deleteImage',id=image.id) }}">X</a>
                            </div>
                            {% endfor %}
                        </div>  
                       <a href="{{ url_for('updateImages',id= item.id,status='update') }}" class="btn-sm my-2 btn-info">Update Images</a>
                    </div>
                    <div class="item-details m-4 col-md-6">
                        <div class="item-heading">
                            <h5 class="m-0">{{ item.type }} apartment in {{ item.city }}</h5>
                            <small class="text-primary">Posted on {{ item.date_of_creation.strftime("%d") }} {{ item.date_of_creation.strftime("%b") }}  {{ item.date_of_creation.strftime("%Y") }} </small>
                        </div>
                        <div class="description">
                            <p>{{item.description}}</p>
                        </div>
                        <div class="item-location d-flex">
                            <small class="p-1  m-1 rounded-lg  tag">{{item.type}}</small>
                            <small class="p-1  m-1 rounded-lg  tag">{{item.state}}</small>
                            <small class="p-1  m-1 rounded-lg  tag">{{item.city}}</small>
                            <small class="p-1  m-1 rounded-lg  tag">{{item.tenant}}</small>
                            <small class="p-1  m-1 rounded-lg  tag">{{item.id}}</small>
                        </div>  
                        <div class="item-price">
                            <h4>&#x20B9 {{item.price}}</h4>
                        </div>
                        <button type="button" class="btn-sm btn-danger text-white" data-toggle="modal" data-target="#exampleModal">
                           Update Property
                          </button>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
